body{
    font-family: Raleway;
}
header{
    z-index: 100;
      background-image:
      linear-gradient(
        to top, 
        rgba(41,175,185), rgba(96,209,178)
      );
    }
.background{
    height: 100vh;
    background-size: cover;
    background-image: url('hero-02.png');
    opacity: 0.1;
}
nav{
    background-color: transparent;
}

nav.shrink, .navbar.shrink{
    background-color:#fff;
    transition: all ease 1s;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

}

.navbar-light .navbar-nav .nav-link {
    color:white;
    font-size: .9rem;
}

.navbar-light .navbar-nav .nav-link.colored-link{
    color:#333;
}


.icon-bar{
	background-color:black;
}
.nav > li > a{
	color:white;
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	color:#333;
	
}

.navbar-toggler{
	background-color:white;
}

.navbar-collapse.collapse.in {
    border-color: rgba(255, 255, 255, 0.98);

	background-color: #64D3B2;

}

.navbar-collapse.collapse.show{
        height: 100vh;
}

section{
    height: 85vh;
}

.description{
    top: 15%;
    background-color: red;
    position: absolute;
}

@media only screen 
  and (max-width: 1020px){
        .nav-item{
            text-align: center;

        }
        .nav-link{
            font-size: 25px;
            font-style: bold;
            font-weight: 700;
            padding: 30px;
        }
}